.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 13px;

  &__left {
    display: flex;
    flex: 0 1 50%;
  }

  &__right {
    flex: 0 1 50%;
  }

  .logo {
    position: relative;
    height: 100%;
    padding-top: 7px;
    display: flex;
    align-items: center;
    flex: 0 1 40.5%;
    justify-content: end;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;

    &__link {
      margin-right: 34px;

      &::before {
        content: '';
        position: absolute;
        top: 18px;
        left: 37px;
        width: 81px;
        height: 55px;
        background-image: url('../../../img/header/logo.svg');
        background-position: 0 0;
        background-size: 81px 55px;
      }
    }
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 28.6%;
    height: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    border-right: 1px solid #c4c4c4;
  }

  &__salons {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 30.5%;
    border-right: 1px solid #c4c4c4;
    cursor: pointer;
  }

  .salons__title {
    position: relative;
    margin-left: -34px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 118px;
      width: 20px;
      height: 20px;
      background-image: url('../../../img/header/arrow-salons.svg');
      background-repeat: no-repeat;
    }
  }

  .salons__selection {
    display: none;
  }

  .salons__option {
  }
}
