include ../button/button 

- var socialArr = ["../../../img/header/social/vk.svg", "../../../img/header/social/yt.svg", "../../../img/header/social/fb.svg", "../../../img/header/social/inst.svg"];


header.header.container
    .logo
        a.logo__link(href="/")
            img(src="../../../img/header/medi.svg", alt="")
    .header__nav
        .header__number
            a(href="tel:+71234567890") +7 (123) 456 78 90
        .header__select
            include ../../components/select/select
        .header__social
            include ../../components/social/social
        .header__burger
            include ../../components/burger/burger