include ../button/button 

- var socialArr = ["../../../img/header/social/vk.svg", "../../../img/header/social/yt.svg", "../../../img/header/social/fb.svg", "../../../img/header/social/inst.svg"];

header(class='header container')
    .header__left
        .logo
            a.logo__link(href="/")
                img(src="../../../img/header/medi.svg", alt="")
        .header__number
            a(href="tel:+71234567890") +7 (123) 456 78 90
        .header__salons.salons
            .salons__title Наши салоны
            ul(class='salons__selection')
                li(class='salons__option')
    .header__right
        include ../../components/social/social