header(class='header')
    div(class='logo')
        a(class='logo__link', href="/") Medi
    div(class='number')
        <a href="tel:+71234567890">+7 (123) 456 78 90</a>
    div(class='salons')
    ul(class='social')
        each val in [1, 2, 3, 4]
            li(class='social__item')