{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es2020": true
  },
  "globals": {
    "_": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "plugins": ["promise", "import", "@typescript-eslint", "prettier"],
  "extends": [
    "airbnb-typescript",
    "prettier",
    "plugin:promise/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"],
        "moduleDirectory": ["node_modules", "src/"]
      },
      "babel-module": {
        "extensions": [".js", ".ts"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "overrides": [
    {
      "files": ["*.{js}"],
      "rules": {
        "consistent-return": "off",
        "@typescript-eslint/no-var-requires": "off",
        "@typescript-eslint/explicit-module-boundary-types": "off"
      }
    }
  ],
  "rules": {
    "react/display-name": "off",
    "eqeqeq": [2, "always"],
    "no-console": ["error", { "allow": ["log", "warn", "error"] }],
    "no-debugger": 2,
    "no-irregular-whitespace": 0,
    "max-len": ["error", { "code": 100, "ignoreUrls": true }],
    "no-var": 1,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "space-before-function-paren": ["off"],
    "comma-dangle": ["off"],
    "prefer-const": "error",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": [
      "error",
      { "functions": false, "classes": false, "variables": true }
    ],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowExpressions": true,
        "allowConciseArrowFunctionExpressionsStartingWithVoid": true
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
    "react/destructuring-assignment": "off",
    "react/require-default-props": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": ["error", { "custom": "ignore" }],
    "react/no-unescaped-entities": "off",
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/no-cycle": [0, { "ignoreExternal": true }],
    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "~**",
            "group": "internal"
          },
          {
            "pattern": ".**",
            "group": "internal",
            "position": "after"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "groups": [
          "builtin",
          "external",
          "internal",
          "unknown",
          "parent",
          "sibling",
          "index",
          "object",
          "type"
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never",
        "mjs": "never"
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "prettier/prettier": "warn"
  }
}
