.burger {
    position: relative;
    z-index: 1000;

    width: 30px;
    height: 20px;
    border: none;
    background: transparent;
    cursor: pointer;

    &::before, &::after {
        content: '';
        position: absolute;
        left: 0;

        width: 100%;
        height: 2px;

        border: 1px solid $black;
        
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }

    &__line {
        position: absolute;
        left: 0;
        top: 50%;

        width: 100%;
        height: 2px;

        border: 1px solid $black;
        opacity: 1;

        transform: translateY(-50%);
    }

    &--active &__line {
        opacity: 0;
    }

    &--active::after {
        top: 50%;
        transform: rotate(45deg);
    }

    &--active::before {
        top: 50%;
        transform: rotate(-45deg);
    }
}