.hero {
  background: #4fbfa5;

  &__nav {
    display: flex;
    padding-top: 30px;
    padding-bottom: 23px;
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    flex: 0 1 85%;
  }

  &__item {
    flex: 0 1 auto;
    text-align: center;
  }

  &__item:nth-child(1) {
    padding-left: 8px;
  }

  &__item:nth-child(2) {
    padding-left: 3px;
  }

  &__item:nth-child(5) {
    padding-right: 14px;
  }

  &__link {
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
  }

  &__btn {
    flex: 0 1 15%;
    padding-left: 12px;
    margin-top: -6px;
  }

  .swiper {
    position: relative;
  }


  .swiper-button-prev {
    @include btn-white-border(60px, 50px, "../../../img/hero/arrow-left.svg");
    left: 385px;
    bottom: 60px;
  }

  .swiper-button-next {
    @include btn-white-border(60px, 50px, "../../../img/hero/arrow-right.svg");
    left: 444px;
    bottom: 60px;
  }

  .my-pagination {
    width: 100%;
    padding-left: 14px;
    display: flex;

    &__item {
      padding-top: 24px;
      padding-bottom: 24px;
      font-family: 'Gilroy Medium';
      font-weight: 500;
      font-size: 21px;
      line-height: 150%;
      text-align: center;
      color: #ffffff;
      background: #00868a;
      cursor: pointer;
    }

    &__item:nth-child(1) {
      flex: 0 1 650px;
    }

    &__item:nth-child(2) {
      flex: 0 1 320px;
    }

    &__item:nth-child(3) {
      flex: 0 1 330px;
    }
  }
}
