.hero {
  background: $light-green;

  &__nav {
    @include desktop {
      gap: rem(20);
      justify-content: center;
    }

    display: flex;
    flex-wrap: wrap;
    padding-top: rem(30);
    padding-bottom: rem(23);
  }

  &__list {
    @include tablet {
      gap: rem(20);
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: 0 1 85%;
  }

  &__item {
    flex: 0 1 auto;
    text-align: center;
  }

  &__item:nth-child(1) {
    padding-left: rem(8);
  }

  &__item:nth-child(2) {
    padding-left: rem(3);
  }

  &__item:nth-child(5) {
    padding-right: rem(14);
  }

  &__link {
    font-size: rem(18);
    line-height: 150%;
    color: $white;

    &:hover {
      color: $dark-green;
      text-shadow: 0 0 1em $dark-green, 0 0 0.2em $dark-green;
    }
  }

  &__btn {
    flex: 0 1 15%;
    padding-left: rem(12);
    margin-top: rem(-6);
  }

  .swiper {
    position: relative;
  }

  .swiper-button-prev {
    @include btn-white-border(60px, 50px, '../../../img/hero/arrow-left.svg');

    @include medium-tablet {
      left: 10px;
      bottom: 10px;
    }

    left: rem(385);
    bottom: rem(60);
  }

  .swiper-button-next {
    @include btn-white-border(60px, 50px, '../../../img/hero/arrow-right.svg');

    @include medium-tablet {
      left: 80px;
      bottom: 10px;
    }

    left: rem(444);
    bottom: rem(60);
  }

  .my-pagination {
    @include mobile {
      display: none;
    }

    width: 100%;
    padding-left: rem(14);
    display: flex;

    &__item {
      @include tablet {
        padding-top: rem(14);
        padding-bottom: rem(14);
        font-size: rem(18);
      }

      padding-top: rem(24);
      padding-bottom: rem(24);
      font-family: 'Gilroy Medium';
      font-weight: 500;
      font-size: rem(21);
      line-height: 150%;
      text-align: center;
      color: $white;
      background: $medium-green;
      cursor: pointer;

      &:hover {
        background: $grey;
        color: $dark-green;
        text-shadow: 0 0 1em $dark-green, 0 0 0.2em $dark-green;
      }
    }

    &__item:nth-child(1) {
      flex: 0 1 650px;
    }

    &__item:nth-child(2) {
      flex: 0 1 320px;
    }

    &__item:nth-child(3) {
      flex: 0 1 330px;
    }
  }
}
