include ../button/button 
include ../slide/slide 

- var slideArr = [{title: "Косметология", descr: "Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная, подтянутая фигура — сегодня это неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.", img: "../../../img/hero/slide/slide-1.svg"}, {title: "Пластическая хирургия", descr: "Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная, подтянутая фигура — сегодня это неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.", img: "../../../img/hero/slide/slide-1.svg"}, {title: "Стоматология", descr: "Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная, подтянутая фигура — сегодня это неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.", img: "../../../img/hero/slide/slide-1.svg"}, {title: "Лазерная медицина", descr: "Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная, подтянутая фигура — сегодня это неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.", img: "../../../img/hero/slide/slide-1.svg"}, {title: "Контакты", descr: "Современный мир диктует новые каноны жизни: ухоженное лицо и тело, стройная, подтянутая фигура — сегодня это неотъемлемые черты привлекательной внешности, характеризующие человека благополучного и успешного.", img: "../../../img/hero/slide/slide-1.svg"}]
- var heroNavArr = ["Косметология", "Пластическая хирургия", "Стоматология", "Лазерная медицина", "Контакты"]

section(class='hero')
    .hero__nav.container
        ul(class='hero__list')
            each val in heroNavArr
                li(class='hero__item')
                    a(class='hero__link') #{val}
        .hero__btn 
            +button('medium', 'white')
                | Запись на прием
    .hero__content.container
        .swiper
            .swiper-wrapper 
                each val in slideArr   
                    +slide(val.title, val.descr, val.img)
            .swiper-pagination 
            .swiper-button-prev
            .swiper-button-next
                        
