.about {
  padding-top: rem(80);

  &__content {
    @include desktop {
      justify-content: center;
    }

    display: flex;
    width: 100%;
    padding-left: 14px;
  }

  &__left {
    @include desktop {
      flex: 0 1 100%;
      align-items: center;
    }

    display: flex;
    flex-direction: column;
    flex: 0 1 41%;
    max-height: 580px;

    background: $dark-green;
  }

  .innovations {
    &__text {
      padding-left: rem(40);
      padding-top: rem(44);
    }

    &__title {
      padding-top: rem(40);

      font-family: 'Gilroy Medium';
      font-style: normal;
      font-weight: 500;
      font-size: rem(30);
      line-height: 150%;
      color: $white;
    }

    &__btn {
      @include btn-white-border(50px, 40px, '../../../img/hero/arrow-right.svg');

      position: relative;
      left: 0;
      top: 5px;

      margin-top: rem(20);
      margin-bottom: rem(20);

      font-family: 'Gilroy Bold';
      font-style: normal;
      font-weight: 700;
      line-height: 150%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $white;
      background-size: 22px;

      &::after {
        content: 'Подробнее';
        position: absolute;
        left: 70px;
        top: 5px;

        background-size: 22px;
      }
    }

    &__img {
      padding-top: rem(33);

      & img {
        max-width: 100%;
      }
    }
  }

  &__right {
    @include desktop {
      display: none;
    }

    flex: 0 1 60%;
  }

  .aesthetics {
    @include desktop {
      display: none;
    }

    display: flex;
    flex-direction: column;

    padding-left: rem(134);
    padding-top: rem(35);

    &__ticet {
      max-width: 186px;
    }

    &__block {
      position: relative;
      display: flex;
    }

    &__graph {
      position: absolute;
      left: 0;
      bottom: 139px;

      display: flex;
      align-items: center;
      max-width: 470px;

      font-family: 'Gilroy Medium';
      font-style: normal;
      font-weight: 500;
      font-size: rem(28);
      line-height: 150%;
      color: $black;

      & span:first-child {
        padding-right: rem(30);

        font-size: rem(96);
        color: $dark-green;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      flex: 0 1 40%;
      
      padding-top: rem(45);
    }

    &__item {
      display: flex;
      align-items: center;
      max-width: 214px;

      font-family: 'Gilroy Medium';
      font-style: normal;
      font-weight: 500;
      font-size: rem(14);
      line-height: 150%;
      color: $black;

      opacity: 0.3;
    }

    &__item:nth-child(1) {
      padding-bottom: rem(46);
    }

    &__item:nth-child(2) {
      padding-bottom: rem(214);
    }

    &__item span:first-child {
      padding-right: rem(20);

      font-size: rem(48);
    }

    &__patent {
      display: flex;
      justify-content: right;
      flex: 0 1 60%;
      
      padding-top: rem(23);

      & img {
        max-width: 346px;
        max-height: 440px;
        margin-right: rem(-20);
      }
    }
  }
}
