section(class='about container')
    .about__content 
        .about__left 
            .about__text
                .about__ticet Инновации
                h3(class='about__title') Мы практикуем новый курс процедур аппаратной косметологии
                .about__btn Подробнее
            .about__img
                img(src="../../../img/about/about-photo.jpg", alt="")
        .about__right
