extends layouts/default
include helpers/mixins
include ../blocks/modules/button/button

block variables
	- const title = "html-boilerplate"

block content
	include ../blocks/modules/header/header
	

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
