extends layouts/default
include helpers/mixins
include ../blocks/modules/button/button

block variables
	- const title = "html-boilerplate"

block content
	.wrapper
		.content-visibl
		include ../blocks/modules/header/header
		include ../blocks/modules/hero/hero
		include ../blocks/modules/about/about
		include ../blocks/modules/news/news
		include ../blocks/modules/special-offers/special-offers
		include ../blocks/modules/footer/footer

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
