extends layouts/default
include helpers/mixins
include ../blocks/modules/button/button

block variables
	- const title = "html-boilerplate"

block content
	.wrapper
		include ../blocks/modules/header/header
		include ../blocks/modules/hero/hero

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
