.card {
  position: relative;

  &__ticet {
    position: absolute;
    left: 30.5px;
    top: 31px;
  }

  &__img {
    max-height: 230px;
  }

  &__block {
    position: relative;
    display: flex;
    padding: rem(26) rem(30);
    background: $dark-green;
  }

  &__title {
    @include mobile {
      font-size: rem(18);
    }

    font-family: 'Gilroy Bold';
    font-weight: 700;
    font-size: rem(21);
    line-height: 150%;
    color: $white;
  }

  &__btn {
    @include btn-white-border(50px, 40px, '../../../img/hero/arrow-right.svg');
    @include mobile {
      right: 10px;
      top: 10px;
    }

    right: rem(30);
    top: rem(37);
    background-size: 22px;
  }
}