.card {
    position: relative;

    &__ticet {
        position: absolute;
        left: 30.5px;
        top: 31px;
    }

    &__img {
        max-height: 230px;
    }

    &__block {
        position: relative;
        display: flex;
        padding: 26px 30px;
        background: $dark-green;
    }

    &__title {
        font-family: 'Gilroy Bold';
        font-weight: 700;
        font-size: 21px;
        line-height: 150%;
        color: $white;
    }

    &__btn {
        @include btn-white-border(50px, 40px, "../../../img/hero/arrow-right.svg");
        right: 30px;
        top: 37px;
        background-size: 22px;
    }
}