mixin card(img, title)
    .card 
        .card__ticet.ticet Косметология
        .card__img
            img(src=img, alt="")
        .card__block    
            .card__title #{title}
            .card__btn