.storybook-button {
  font-family: 'Gilroy Medium';
  font-weight: 500;
  border: 0;
  cursor: pointer;
  display: inline;
  line-height: 1;
}
.storybook-button--blue-green {
  color: $white;
  background: $dark-green;
  text-transform: uppercase;
}
.storybook-button--white {
  color: $black;
  background: $white;
}
.storybook-button--small {
  padding: 14px 23px 15px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.storybook-button--medium {
  padding: 15px 25px 14px;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
}
.storybook-button--large {
  padding: 9px 15px 10px;
  font-size: 18px;
  line-height: 21px;
}
.storybook-button--big {
  padding: 14px 16px 9px;
  font-size: 14px;
  line-height: 17px;
}
