include ../button/button 

mixin slide(title, descr, img)
    .swiper-slide.my-slide
        .my-slide__left
            .my-slide__block
                h2.my-slide__title #{title}
                .my-slide__descr #{descr}
            .my-slide__btn
                +button('medium', 'blue-green')
                    | Подробнее
        .my-slide__right 
            img.my-slide__img(src=img, alt="" class="my-slide__img")
