.news {
  @include small-tablet {
    flex-direction: column;
  }

  position: relative;
  display: flex;
  padding-top: rem(81);
  padding-left: rem(14);

  &__left {
    display: flex;
    flex-direction: column;
    flex: 0 1 40.6%;

    background: $light-green;
  }

  &__ticet {
    max-width: 101px;
    margin-top: rem(35);
    margin-left: rem(40);

    background: $dark-green;
  }

  &__list {
    @include small-tablet {
      padding-top: rem(10);
    }

    display: flex;
    flex-direction: column;

    padding-top: 29px;
  }

  &__item {
    @include medium-tablet {
      padding-right: rem(5);
      padding-bottom: rem(10);
    }

    padding-top: rem(35);
    padding-bottom: rem(35);
    padding-right: rem(40);
    padding-left: rem(40);

    font-size: rem(18);
    line-height: 150%;
    color: $white;

    cursor: pointer;

    &:last-child {
      padding-bottom: rem(35);
    }

    &:hover {
      background: $dark-green;
    }
  }

  .news__item--active {
    background: $dark-green;
  }

  &__right {
    position: relative;

    flex: 0 1 59.4%;
  }

  &__help-block {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background: $medium-green;
    opacity: 0.1;
  }

  &__container-block {
    @include medium-tablet {
      padding-left: rem(10);
    }

    padding-top: rem(35);
    padding-left: rem(60);
  }
  .info-list {
    &__item {
      display: none;

      &--active {
        display: block;
      }
    }

    &__item ul {
      padding-right: rem(60);
      padding-left: rem(21);
    }

    &__title {
      padding-bottom: rem(25);

      font-family: 'Gilroy Bold';
      font-style: normal;
      font-weight: 700;
      font-size: rem(24);
      line-height: 150%;
    }

    &__desc {
      position: relative;

      padding-bottom: rem(14);

      font-size: rem(14);
      line-height: 150%;

      &::before {
        content: '';
        position: absolute;
        left: -21px;
        top: 7px;

        width: 6px;
        height: 6px;
        
        background: $dark-green;
        border-radius: 2px;
      }
    }
  }
}
