- var newsArr = [{title: "Почему рекомендуется посещать профессионального косметолога. Мнение специалистов центра", desc: ["Процедуры аппаратной косметологии на оборудовании экспертного класса от ведущих мировых производителей могут проводиться в любом возрасте и решать широкий спектр проблем: возрастные изменения, покраснения, акне и купероз, потеря тонуса и упругости кожи, отечность, целлюлит и т. п.", "С помощью инъекционных методик мы можем разгладить морщины, провести объёмное моделирование, увлажнить кожу, ввести активные вещества в поверхностные и средние слои кожи, запустить процессы омоложения.", "Лазерное и фотоомоложение помогут запустить процесс синтеза собственного коллагена, улучшить светооптические свойства кожи, а также получить максимальный эффект подтяжки лица без уколов и длительного восстановительного периода.", "Курс процедур лазерной эпиляции поможет навсегда избавиться от проблемы нежелательных волос."], class: "info-list__item--active"}, {title: "Стандартизация деятельности клиник в соответствии с ISO 9001:2015.", desc: ["С помощью инъекционных методик мы можем разгладить морщины, провести объёмное моделирование, увлажнить кожу, ввести активные вещества в поверхностные и средние слои кожи, запустить процессы омоложения.", "Лазерное и фотоомоложение помогут запустить процесс синтеза собственного коллагена, улучшить светооптические свойства кожи, а также получить максимальный эффект подтяжки лица без уколов и длительного восстановительного периода.", "Курс процедур лазерной эпиляции поможет навсегда избавиться от проблемы нежелательных волос."], class: ""}, {title: "Индивидуальный подход к каждому пациенту и подбор оптимальных косметологических методик.", desc: ["Лазерное и фотоомоложение помогут запустить процесс синтеза собственного коллагена, улучшить светооптические свойства кожи, а также получить максимальный эффект подтяжки лица без уколов и длительного восстановительного периода.", "Курс процедур лазерной эпиляции поможет навсегда избавиться от проблемы нежелательных волос."], class: ""} ]

section.news.container
    .news__left 
        .news__ticet.ticet Новости
        ul.news__list
            each val in newsArr 
                li.news__item #{val.title}
    .news__right
        .news__help-block
        .news__container-block
            ul.news__info-list.info-list  
                each val in newsArr
                    li.info-list__item(class=val.class)
                        h3.info-list__title #{val.title}
                        ul 
                            each a in val.desc
                                li.info-list__desc #{a}
