.social
    .social__btn.btn
        +button('big', 'blue-green')
            span.btn__icon
            | Версия для слабовидящих
    ul.social__list
        each val in socialArr
            li.social__item
                a.social__link
                    img.social__img(src=val, alt="")