.footer {
  &__menu {
    display: flex;
    gap: 80px;
    padding-top: 100px;
    padding-left: 15px;
    padding-bottom: 50px;
  }

  .menu {
    &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 192px;
      row-gap: 16px;
      flex: 0 1 70%;
    }

    &__item {
      .list-item {
        &__item {
          font-size: 14px;
          line-height: 150%;
          padding-bottom: 15px;

          &:first-child {
            padding-bottom: 19px;
            font-weight: 700;
            font-size: 21px;
            line-height: 150%;
          }
        }
      }
    }

    &__contacts {
      flex: 0 1 20%;
      padding-top: 10px;
      padding-left: 2px;

      .contacts {
        &__prev {
          padding-bottom: 10px;
          font-size: 11px;
          line-height: 150%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          opacity: 0.5;
        }

        &__link {
          padding-bottom: 14px;
          font-family: 'Gilroy Bold';
          font-weight: 700;
          font-size: 21px;
          line-height: 150%;
          font-style: normal;
        }

        &__address {
          padding-top: 32px;
          
        }
      }
    }
  }
}
