.footer {
  padding-left: 15px;
  &__menu {
    @include desktop {
      justify-content: center;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: rem(100);
    padding-bottom: rem(64);
  }

  .menu {
    &__list {
      @include desktop {
        justify-content: center;
      }

      @include medium-tablet {
        flex: 0 1 100%;
      }

      display: flex;
      flex-wrap: wrap;
      column-gap: rem(192);
      row-gap: rem(16);
      flex: 0 1 70%;
    }

    &__item {
      .list-item {
        &__item {
          font-size: rem(14);
          line-height: 150%;
          padding-bottom: rem(15);

          &:first-child {
            padding-bottom: rem(19);
            font-weight: 700;
            font-size: rem(21);
            line-height: 150%;
          }

          &:hover {
            color: $dark-green;
            text-shadow: 0 0 1em $dark-green, 0 0 0.2em $dark-green;
          }
        }
      }
    }

    &__contacts {
      @include medium-tablet {
        flex: 0 1 100%;
        display: flex;
        justify-content: center;
        align-items: start;
        column-gap: rem(30);
        padding-top: rem(20);
        padding-left: 0px;
      }

      @include small-tablet {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
      }

      flex: 0 1 24%;
      min-width: 240px;
      padding-top: rem(10);
      padding-left: rem(5);

      .contacts {
        &__prev {
          padding-bottom: rem(10);
          font-size: rem(11);
          line-height: 150%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          opacity: 0.5;
        }

        &__link {
          padding-bottom: rem(14);
          font-family: 'Gilroy Bold';
          font-weight: 700;
          font-size: rem(21);
          line-height: 150%;
          font-style: normal;
        }

        &__number {
          @include medium-tablet {
            text-align: center;
          }
        }

        &__address {
          @include medium-tablet {
            text-align: center;
            padding-top: 0px;
          }

          @include small-tablet {
            flex-wrap: wrap;
          }

          padding-top: rem(32);
        }
      }
    }
  }

  &__bot {
    display: flex;
    border: 1px solid $grey;
  }

  &__copy {
    @include desktop {
      flex: 0 1 100%;
      padding-top: rem(20);
      padding-bottom: rem(20);
    }

    padding-top: rem(5);
    padding-left: rem(24);
    display: flex;
    align-items: center;
    flex: 0 1 49.7%;
    border-right: 1px solid $grey;
  }

  .copy {
    &__text {
      flex: 0 1 50%;
      font-family: 'Gilroy Regular';
      font-weight: 400;
      font-size: rem(12);
      line-height: 150%;
    }

    &__politic {
      margin-left: -4px;
      flex: 0 1 50%;
      font-family: 'Gilroy Regular';
      font-weight: 400;
      font-size: rem(12);
      line-height: 150%;
      text-align: center;
      text-decoration-line: underline;

      &:hover {
        color: $dark-green;
        text-shadow: 0 0 1em $dark-green, 0 0 0.2em $dark-green;
      }
    }
  }

  &__social {
    @include desktop {
      display: none;
    }

    flex: 0 1 50.4%;
  }
}
