- var menuArr = [["Услуги", "Косметология", "Пластическая хирургия", "Стоматология", "Лазерная медицина"], ["Услуги", "Косметология", "Пластическая хирургия", "Стоматология", "Лазерная медицина"], ["Услуги", "Косметология", "Пластическая хирургия", "Стоматология", "Лазерная медицина"], ["Услуги", "Косметология", "Пластическая хирургия", "Стоматология", "Лазерная медицина"], ["Услуги", "Косметология", "Пластическая хирургия", "Стоматология", "Лазерная медицина"], ["Услуги", "Косметология", "Пластическая хирургия", "Стоматология", "Лазерная медицина"]]

footer.footer.container 
    .footer__menu.menu
        ul.menu__list 
            each val in menuArr
                li.menu__item 
                    ul.list-item
                        each a in val   
                            li.list-item__item #{a}
    .footer__bot
