* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
select,
div {
  outline: none;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  // color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  // color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  // color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  // color: #666;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  position: relative;
  line-height: 1.3;
  font-style: normal;
  font-weight: normal;
  font-family: 'Raleway', 'Colibri', Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

strong,
b {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100%;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
}
